.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 210px;
  height: 80px;
  align-content: space-evenly;
  margin-top: 150px;
  margin-left: 100px;
}

.exchange {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 80px;
  align-content: space-evenly;
  margin-left: 100px;
}

/* .div {
  border: 3px black;
  margin-inline: 15px;
}

.text {
  margin-inline: 15px;
} */

.select {
  height: 18px;
  width: 60px;
  margin-right: 5px;
}

.dimensions {
  height: 35px;
  width: 60px;
  margin-right: 5px;
}

.dimensions_ex {
  height: 18px;
  width: 60px;
  margin-right: 5px;
}

.result {
  text-align: right;
}
